header{
    height:100px;
    padding: 20px;
    text-align: center;
    font-family: 'serif';
    border-style: dotted;
    background-color: blueviolet ;
    color:aliceblue;
}
.Container{
    display:flex;
    padding:10px;
    border-style: dotted;
    flex-direction:row;
    display:inline-block;
    margin-top: 10px;
    justify-content: space-between;
}
.Container h2{
    font-family: serif;
    border-style:solid;
    padding:10px;
    display:inline-block;
    background-color: rgb(226, 43, 147);
}


